header{
    height: 600px;
    border-bottom: 10px solid #fff;
}
.header-container{
    color: white;
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
    display: flexbox;
}
.header-container h1{
    font-size: 40px;
}
.circle-container{
    background-image: url('../../assets/profile-image.jpg');
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border: 10px solid #fff;
    border-radius: 100%;
    margin-left: 100px;
    position: absolute;
    top: 440px;
}
.container-header-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-icons{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 60px;
}
.header-icons a{
    transition: 0.2s;
    border: 2px solid #ffffff00;
}
.header-icons a:hover{
    padding: 0 30px;
    background-color: #1E1E1E;
    border: 2px solid #fff;
    border-radius: 30px;
}

/* Mobile */
.header-container.isMobile{
    margin-top: 30px;
}
.header-container.isMobile h1{
    font-size: 30px;
}
.header-container.isMobile .container-header-icons .header-icons{
    gap: 10px;
}
.header-container.isMobile .circle-container{
    margin-left: 37px;
}